* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: brown;
}